$layout-width: 1440
$layout-height: 800
$tablet-width: 1024
$small-tablet: 768
$mobile-width: 600
@use "sass:math"

@function get-vw($px)
  $vw-context: ($layout-width*.01) * 1px
  @return calc($px / $vw-context) * 1vw

@function get-vh($px)
  $vw-context: ($layout-height*.01) * 1px
  @return calc($px / $vw-context) * 1vh



@mixin fontFace($font-family, $file-path, $weight: normal, $style: normal)
  @font-face
    font-family: $font-family
    src: url('#{$file-path}.eot')
    src: url('#{$file-path}.woff') format('woff'), url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.ttf') format('truetype'), url('#{$file-path}.svg##{$font-family}') format('svg')
    font-weight: $weight
    font-style: $style


//использование миксина  +mediaSize(value)
@mixin mediaSize($media)
  @if $media == desktop
    @media (min-width: 1601px)
      @content
  @if $media == float
    @media (min-width: 1201px) and (max-width: 1600px)
      @content
  @else
    @media (max-width: $media+px)
      @content

//использование миксина  +mediaSize(value)
@mixin mediaMinWidth($media)
  @media (min-width: $media+px)
    @content

@mixin letterSpace($spacing)
  letter-spacing: ($spacing / 1000) * 1em

@mixin placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

@mixin scrollbar
  &::-webkit-scrollbar
    width: 5px
    height: 5px
  &::-webkit-scrollbar-track
    background: rgba(0, 0, 0, 0.1)
  &::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 1)

@mixin invisibleScrollbar
  &::-webkit-scrollbar
    width: 5px
    height: 5px
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background: transparent
