@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

input {
  background: none;
  border: 1px solid hsla(160, 100%, 37%, 1);
  height: 50px;
  width: 290px;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 16px;
  color: inherit;
}

label + label {
  margin-top: 20px;
}

button[type="submit"] {
  margin-top: 40px;
  background: hsla(160, 100%, 37%, 1);
  border: none;
  width: 290px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
}
